<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('./Includes/head.ejs') %> 
    <title>صفحه مورد نظر یافت نشد</title>
</head>
<body class="rtl">
    <div id="notFound" class="text-center">
        <h4>صفحه مورد نظر یافت نشد!</h4>
        <a href="/" class="btn btn-outline-info">
            برگشت به صفحه اصلی <span class="fa fa-heart text-danger"></span>
        </a>
    </div>
</body>
</html>